*.py[cod]

# C extensions
*.so
*.db

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
lib
include
develop-eggs
src
doc

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.Python

# Static & Media
webroot/static
webroot/media

# SSSssshhhhhhhh....
secrets.py