Django==1.4.1
Fabric==1.4.3
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.17
celery==3.0.11
django-appconf==0.5
django-celery==3.0.10
django-compressor==1.2
gunicorn==0.14.6
kombu==2.4.7
meld3==0.6.9
pycrypto==2.6
python-dateutil==1.5
requests==0.14.0
requests-oauth==0.4.1
ssh==1.7.14
superlance==0.7
supervisor==3.0b1
wsgiref==0.1.2
