## The following requirements were added by pip --freeze:
Django==1.4.1
Fabric==1.4.3
Pillow==1.7.7
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.17
celery==3.0.11
django-appconf==0.5
django-celery==3.0.10
django-compressor==1.2
gunicorn==0.14.6
kombu==2.4.7
meld3==0.6.9
psycopg2==2.4.5
pycrypto==2.6
pylibmc==1.2.3
python-dateutil==1.5
requests==0.14.0
requests-oauth==0.4.1
simplejson==2.6.2
sorl-thumbnail==11.12
ssh==1.7.14
superlance==0.7
supervisor==3.0a10
wsgiref==0.1.2
-e git+https://github.com/csinchok/django-singly.git@bb19a984f5254cb61661daf68b90e1efeeed6aa7#egg=singly