{% load compress %}
{% load singly %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">

	<title>{% block title %}{% endblock %} | Twizzl.io</title>


	{% compress css %}

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
	{% endcompress %}

	{% compress js %} 
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
	{% endcompress %}
	<script type="text/javascript" src="//use.typekit.net/hmo3cvn.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
	{% block header %}	
	    <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="active brand logo" href="/">Twizzlio</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
				        {% if user.is_authenticated %}
	              <li><a href="/new">New Game</a></li>
	              <li><a href="/matchups">Matchups</a></li>
	              {% endif %}
                <li><a href="/about">About</a></li>
                <li><a href="/corporate">Corporate</a></li>
                <li><a href="/brands">Brands</a></li>

	            </ul>
	            <div class="pull-right">
				    {% if user.is_authenticated %}
					Hi, {{ user.first_name }} <a href="/profile">[edit]</a>
  	              	<button type="button" class="btn">Sign out</button>
					
				    {% else %}
						Sign in:
					    <a class="btn" href="{% singly_login_url 'facebook' %}">FB</a>
					    <a class="btn" href="{% singly_login_url 'twitter' %}">TW</a>
					{% endif %}
	            </div>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
	
	{% endblock %}
	
    <div class="container">	
		{% block content %}	

	
		{% endblock %}
		<hr>
	    <footer>
	      <p>&copy; Twizzlio 2012. Gamifying Social Influence since 2k12. You're welcome.</p>
	    </footer>
	</div><!--/container -->
	
</body>
</html>