{% extends "base.html" %}

{% block title %}Twizzlio{% endblock %}

{% block content %}


<div class="row">
  <div class="span2">
    
  </div>

  <div class="span10">
    <h1><span class="logo">Twizzlio</span> <span class="icon-heart" style="width: 37px;height: 32px; color: #BB0202;line-height: 42px;text-align: center;"></span> Advertisers</h1>
    
    <div class="faq_a">Congratulations for choosing Twizzlio as a advertising partner. Now's the time to invest in a minivan so you can transport the vast amounts of cash you're about to earn.</div>

    <div class="faq_a">We offer a variety of services to help your reach out to your most loyal fans on the Internet.
    </div>

    <div class="faq_a"><strong>Featured Champion</strong></br>
    Twizzlio allows players to select through a large list of brands and celebrities to pick their battle champions. Stand out from the pack by becoming a Featured Champion. We'll put your name in a separate more prominent section so you're more likely to be selected.
</div>

    <div class="faq_a"><strong>Parallel Ads</strong></br>
    Just seeing your brand name in their game is plenty of free advertising. Now maximize on that by including a small picture ad and link next to your name everywhere on Twizzlio, on the screens of all players using or battling your company.</div>

    <div class="faq_a"><strong>Victory Deals</strong></br>
    Encourage people to take a chance on your brand by offering special deals to people who win while using you as their champion. When a player wins we can display what discounts or prizes they've won, and then take their credit card and address information on the spot to make a sale for you.
</div>
</div>

{% endblock %}