{% extends "base.html" %}

{% block title %}Twizzlio{% endblock %}

{% block content %}


<div class="row">
  <div class="span4">
    
  </div>

  <div class="span8">
    <h1><span class="logo">Twizzlio</span>'s Corporate Philosophy</h1>
    <div class="faq_a">Twizzlio was founded on the principle of introducing needless but entertaining strife into every corner of our online existence.</div>

    <div class="faq_a">We strive to provide the highest quality competition through Facebook and Twitter, without requiring any work on your part, so you can brag and gloat with minimal effort.</div>
</div>

{% endblock %}