{% extends "base.html" %}

{% block title %}Twizzlio{% endblock %}

{% block content %}


<div class="row">
  <div class="span4">
    
  </div>

  <div class="span8">
    <h1><span class="logo">Twizzlio</span>'s Corporate Philosophy</h1>
    <div class="faq_q"><strong>Q:<strong> What is Twizzlio?</div>
    <div class="faq_a"><strong>A:<strong> A twizzlio is the first trickle of snowmelt, as spring begins after a long and bitter winter. Our app is named after this annual event because we like to view ourselves as a river of active and flowing social data, springing forth from the dull and immobile social data ice of yesterday.</div>

    <div class="faq_q"><strong>Q:<strong> No, I mean, what does Twizzlio actually do?</div>
    <div class="faq_a"><strong>A:<strong> Twizzlio turns your social media connections into a competitive sport. Your social media savvy is tested as you predict which of your own friends, favorite celebrities, and preferred brands will rise in online popularity across Facebook and Twitter. Your choices are matched up against the selections of an opposing player, and your respective teams duke it out in a week-long duel to see who gained the most internet fame in that time.</div>

    <div class="faq_q"><strong>Q:<strong> What do you get if you win?</div>
    <div class="faq_a"><strong>A:<strong> Glory. Bragging rights. Getting to prove that your friends are more important than your opponent's friends,  and that your brands are better liked than their brands. You also get badges to prove your victory for all of time.</div>

    <div class="faq_q"><strong>Q:<strong> Hm, sounds like a fun toy.</div>
    <div class="faq_a"><strong>A:<strong> You are very wrong, my friend. Twizzlio is not just a toy. It's also an advertising platform. People and brands can take out ad space next to their name within the game, to deliver messages to every player that uses them in a game (as well as their opponent). This allows you to send exclusive deals to your brand's most loyal followers, those who like your company so much they picked you as their battle champion.</div>
  </div>
</div>

{% endblock %}