{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Twizzlio Home{% endblock %}

{% block content %}

<script type="text/javascript">
{# TODO: put in roster id #};
var roster_id = 1{# roster.id #};
</script>


<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    
    <h2 class="teamname">{{user_roster.user.get_full_name}}'s Team</h2>

    <table data-roster-id="{{user_roster.id}}" id="yourteam" class="table table-striped slot-group facebook-results" data-type="facebook">
      <thead>
        <tr>
          <th></th>
          <th>Facebook User</th>
          <th>Likes</th>
          <th>Commented</th>  
          <th>New friends</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
  		 {% include "snippets/editable_slot.html" with player=user_roster.facebook_1 %}
		 {% include "snippets/editable_slot.html" with player=user_roster.facebook_2 %}
      </tbody>
    </table>

    <table class="table table-striped slot-group twitter-results" data-type="twitter">
      <thead>
        <tr>
          <th></th>
          <th>Twitter User</th>
          <th>RTs</th>
          <th>New followers</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
   		 {% include "snippets/editable_slot.html" with player=user_roster.twitter_1 %}
 		 {% include "snippets/editable_slot.html" with player=user_roster.twitter_2 %}  
      </tbody>
    </table>
    

    <table class="table table-striped slot-group celeb-results" data-type="celebs">
      <thead>
        <tr>
          <th></th>
          <th>Sexy Celeb</th>
          <th>FB Pts</th>
          <th>Twitter Pts</th>  
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
 		 {% include "snippets/editable_slot.html" with player=user_roster.celeb_1 %}
      </tbody>
    </table>


    <table class="table table-striped slot-group brand-results" data-type="brands">
      <thead>
        <tr>
          <th></th>
          <th>Kewl Brand</th>
          <th>FB Pts</th>
          <th>Twitter Pts</th>  
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
  		 {% include "snippets/editable_slot.html" with player=user_roster.brand_1 %}
      </tbody>
    </table>
    <div class="team-total">Total Points: 100</div>
  </div>
  
  <!-- OPPONENT -->
  
  <div class="span6">
    <h2 class="teamname">{{opponent_roster.user.get_full_name}}'s Team</h2>
    <table data-roster-id="{{opponent_roster.id}}" id="otherteam" class="table table-striped slot-group facebook-results" data-type="facebook">
      <thead>
        <tr>
          <th></th>
          <th>Facebook User</th>
          <th>Likes</th>
          <th>Commented</th>  
          <th>New friends</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
  		 {% include "snippets/slot.html" with player=opponent_roster.facebook_1 %}
		 {% include "snippets/slot.html" with player=opponent_roster.facebook_2 %}
      </tbody>
    </table>

    <table class="table table-striped slot-group twitter-results" data-type="twitter">
      <thead>
        <tr>
          <th></th>
          <th>Twitter User</th>
          <th>RTs</th>
          <th>New followers</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
   		 {% include "snippets/slot.html" with player=opponent_roster.twitter_1 %}
 		 {% include "snippets/slot.html" with player=opponent_roster.twitter_2 %}  
      </tbody>
    </table>
    

    <table class="table table-striped slot-group celeb-results" data-type="celebs">
      <thead>
        <tr>
          <th></th>
          <th>Sexy Celeb</th>
          <th>FB Pts</th>
          <th>Twitter Pts</th>  
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
 		 {% include "snippets/slot.html" with player=opponent_roster.celeb_1 %}
      </tbody>
    </table>


    <table class="table table-striped slot-group brand-results" data-type="brands">
      <thead>
        <tr>
          <th></th>
          <th>Kewl Brand</th>
          <th>FB Pts</th>
          <th>Twitter Pts</th>  
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
  		 {% include "snippets/slot.html" with player=opponent_roster.brand_1 %}
      </tbody>
    </table>
    <div class="team-total">Total Points: 100</div>
  </div>
</div>



<!-- remove alert -->

<div id="remove-alert" style="display:none">
  <div class="alert alert-block alert-info fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Are you sure you want to remove <span id="remove-username"></span></h4>
    <p>
      <a class="btn btn-danger" href="#">Remove</a> <a class="btn" href="#">Cancel</a>
    </p>
  </div>
</div>



<!-- Modal -->
<div class="modal" id="add_player_modal" tabindex="-1" role="dialog" aria-labelledby="add_player_modalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="add_player_modalLabel">Add a player for <span id="modal_type"></span></h3>
  </div>
  <div class="modal-body">
    Search
    <div class="search-finder" data-button-label="Add" data-url="/players/choose" data-action="fill_slot" >
    <input type="text" class="search-box">
    
    <ul class="search-results">
    </ul>
    
    <hr>  
    <a class="btn-small btn search-prev" href="#">&laquo; Prev</a>
    <a class="btn-small btn pull-right search-next" href="#">Next &raquo;</a>    
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>




{% endblock %}