{% extends "base.html" %}

{% block title %}Twizzlio Home{% endblock %}

{% block content %}


<!-- Example row of columns -->
<div class="row">
	<h1>Start a new game</h1>
  <div class="span6">
    <div class="search-finder" data-button-label="Start game" data-url="/users/choose" data-action="start_game">
	    Search for a friend<br> 
	    <input type="text" class="search-box">
    
	    <ul class="search-results">

	    </ul>
	    <hr>  
	    <a class="btn-small btn" href="#"><span class="icon-chevron-left search-next"></span> Prev</a>
	    <a class="btn-small btn pull-right" href="#">Next <span class="icon-chevron-right search-prev"></span></a>    
    </div>
  </div>
  <div class="span4">
	  <p>Can't find anyone to play with?</p>
	  <p><a href="#">Invite</a> a friend. Or <a href="#">invite</a> an enemy. Whatever you feel like, really.</a></p>
  </div>
</div>
{% endblock %}