{% extends "base.html" %}

{% block title %}Twizzlio Home{% endblock %}

{% block content %}




<!-- Example row of columns -->
<div class="row">
  <h1>Start a new game</h1>
  
  <div class="span6">

    Search for a friend<br> 
    <input type="text" id="player-name">
    
    <ul id="player-results" class="player-list">
      <li>
        <img src="https://twimg0-a.akamaihd.net/profile_images/2646120075/6f47612a4041e851a02f1e2c06d607fc_bigger.jpeg">
            Tide
            <button class="btn btn-small btn-success pull-right">Start a game</button>
            
      </li>
    </ul>
    <hr>  
    <a class="btn-small btn" href="#"><span class="icon-chevron-left"></span> Prev</a>
    <a class="btn-small btn pull-right" href="#">Next <span class="icon-chevron-right"></span></a>    

  </div>
</div>
{% endblock %}