body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.logo {
	font-family: 'bello-pro';
}

.typekit-badge {
	display:none !important;
}

.hero-unit {
	text-align:center;
}

table td.table-no-data {
	text-align:center;
}

.score {
	color: blue;
	font-weight:bold;
}
.score.opp {
	color: red;
}


/* head to head page */

table.slot-group tbody img {height:24px}

table.slot-group tbody td {
	line-height: 24px;
}

#player-results li img {
  height:32px;
  width:32px;
}

#player-results li {
  list-style:none;
  line-height:32px;
}

.slot-group td.total {
	font-weight: bold;
}

.team-total {
	display:block;
	font-size:18px;
	margin-bottom:6px;
}

.faq_q {
	display:block;
	font-size:18px;
	font-weight:bold;
	margin-bottom: 12px;
}

.faq_a {
	margin-bottom:24px;
	
}

.box {
  position: relative;
  margin: 15px 0;
  padding: 15px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.modal {

}